<div class="w-full max-w-425.5 mx-auto mt-5 md:mt-8.75 grid grid-cols-1 lg:grid-cols-2 gap-7.5">
  <div class="flex flex-col gap-3">
    <app-subscriptions-container></app-subscriptions-container>

    <div class="flex gap-3">
      <button tuiButton (click)="openCreateSubscribeModal()">Создать подписку</button>

      <button tuiButton (click)="openRecurringSuggestionsModal()">Предложить подписку</button>
    </div>
  </div>

  <div class="flex flex-col gap-3">
    <app-payments-container></app-payments-container>

    <button tuiButton class="w-40" (click)="openCreateScheduledPaymentModal()">
      Создать платёж
    </button>
  </div>
</div>

@if (activeModal() === 'create-subscription') {
  <app-modal-dialog title="Создать подписку" (close)="closeModal()">
    <app-create-subscription-form (close)="closeModal()" />
  </app-modal-dialog>
}

@if (activeModal() === 'create-payment') {
  <app-modal-dialog title="Создать платёж" (close)="closeModal()">
    <app-create-scheduled-payment-form (close)="closeModal()" />
  </app-modal-dialog>
}

@if (activeModal() === 'suggestions') {
  <app-modal-dialog title="Предложения подписок" (close)="closeModal()">
    <app-recurring-suggestions-form
      (close)="closeModal()"
      (createFromSuggestion)="openCreateFromSuggestionModal($event)"
    />
  </app-modal-dialog>
}

@if (activeModal() === 'create-from-suggestion' && selectedSuggestion()) {
  <app-modal-dialog title="Создать подписку из предложения" (close)="closeModal()">
    <app-create-subscription-from-suggestion-form
      [suggestion]="selectedSuggestion()!"
      (close)="backToSuggestions()"
      (created)="afterSubscriptionCreated()"
    />
  </app-modal-dialog>
}
