<div
  class="min-h-30 px-7 py-3 rounded-(--tui-radius-l) shadow-(--tui-shadow-m) bg-(--card-2) flex flex-col gap-3"
>
  <div class="flex flex-col gap-5">
    <p class="text-base text-(--text-faded)">Пароль</p>
    @if (!isPasswordOpened()) {
      <div class="flex gap-2 items-center justify-between">
        <p class="text-lg tracking-widest">••••••••</p>
        <button (click)="openEdit()">
          <img src="assets/icons/icon-edit.svg" alt="edit password" class="h-5 cursor-pointer" />
        </button>
      </div>
    } @else {
      <form [formGroup]="passwordForm" class="flex flex-wrap gap-3 items-start">
        <label>
          Текущий пароль
          <tui-textfield class="w-60">
            <input
              tuiTextfield
              type="password"
              formControlName="currentPassword"
              autocomplete="current-password"
            />
            <tui-icon tuiPassword />
          </tui-textfield>

          @if (passwordForm.get('currentPassword')?.errors?.['required']) {
            <p class="text-red-500">Обязательное поле</p>
          }
          @if (passwordForm.get('currentPassword')?.errors?.['backend']) {
            <p class="text-red-500">
              {{ passwordForm.get('currentPassword')?.errors?.['backend'] }}
            </p>
          }
        </label>

        <label>
          Новый пароль
          <tui-textfield class="w-60">
            <input
              tuiTextfield
              type="password"
              formControlName="newPassword"
              autocomplete="new-password"
            />
            <tui-icon tuiPassword />
          </tui-textfield >

          @if (passwordForm.get('newPassword')?.errors?.['required']) {
            <p class="text-red-500">Обязательное поле</p>
          }
          @if (passwordForm.get('newPassword')?.errors?.['minlength']) {
            <p class="text-red-500">Минимум 8 символов</p>
          }
          @if (passwordForm.get('newPassword')?.errors?.['backend']) {
            <p class="text-red-500">{{ passwordForm.get('newPassword')?.errors?.['backend'] }}</p>
          }
        </label>

        <label>
          Подтверждение пароля
          <tui-textfield class="w-60">
            <input
              tuiTextfield
              type="password"
              formControlName="confirmPassword"
              autocomplete="new-password"
            />
            <tui-icon tuiPassword />
          </tui-textfield>

          @if (passwordForm.get('confirmPassword')?.errors?.['required']) {
            <p class="text-red-500">Обязательное поле</p>
          }

          @if (passwordForm.errors?.['mismatch'] && passwordForm.touched) {
            <p class="text-red-500">Пароли не совпадают</p>
          }

          @if (passwordForm.get('confirmPassword')?.errors?.['backend']) {
            <p class="text-red-500">
              {{ passwordForm.get('confirmPassword')?.errors?.['backend'] }}
            </p>
          }
        </label>
      </form>
      <div class="flex gap-2">
        <button tuiButton type="button" (click)="savePassword()">Сохранить</button>
        <button tuiButton type="button" (click)="cancelEdit()">Отмена</button>
      </div>
    }
  </div>
</div>
