<div class="h-full px-5 py-3 bg-(--card-4) rounded-(--tui-radius-l) shadow-(--tui-shadow-m)">
    <p class="text-3xl">Скорость расходов</p>
    @if (spendingSpeed()?.isReached) {
        <p class="text-3xl">{{spendingSpeed()?.halfSalaryReachedDate}}</p>
        <p class="text-(--text-faded)">Вы потратили 50% своей зарплаты</p>
    } @else {
        <p class="text-3xl">{{spendingSpeed()?.spentPercent}}%</p>
        <p class="text-(--text-faded)">На данный момент вы потратили {{spendingSpeed()?.spentPercent}}% своей зарплаты</p>
    }
    <p class="mt-10">Сравнение с прошлым:</p>
    @for (comparison of spendingSpeed()?.comparison; track comparison.period) {
        <p>{{comparison.period}}: {{comparison.day}} день</p>
    }
</div>