<div class="flex flex-col gap-3">
  <h1 class="text-3xl">Регистрация</h1>
  <form [formGroup]="form" class="flex flex-col gap-3">
    <label class="text-base">
      Номер телефона
      <tui-textfield>
        <input
          tuiInputPhone
          autocomplete="tel"
          mask="+7 ### ###-##-##"
          formControlName="phone"
          placeholder="+ 7 (111) 222 33 44"
        />
      </tui-textfield>
      @if (form.get('phone')?.hasError('required') && form.get('phone')?.touched) {
        <p class="text-red-500 text-xs">Обязательное поле</p>
      }
      @if (form.get('phone')?.errors?.['backend']) {
        <p class="text-red-500 text-xs">
          {{ form.get('phone')?.errors?.['backend'] }}
        </p>
      }
      @if (form.get('phone')?.errors?.['phoneLength'] && form.get('phone')?.touched) {
        <p class="text-red-500 text-xs">Номер телефона должен содержать 11 цифр</p>
      }
    </label>

    <label class="text-base">
      Пароль от банка
      <tui-icon tuiHintDirection="right" tuiTooltip="Введите пароль от аккаунта основного банка" />
      <tui-textfield>
        <input tuiTextfield type="password" formControlName="bankPassword" />
        <tui-icon tuiPassword />
      </tui-textfield>
      @if (form.get('bankPassword')?.hasError('required') && form.get('phone')?.touched) {
        <p class="text-red-500 text-xs">Обязательное поле</p>
      }

      @if (form.get('bankPassword')?.errors?.['backend']) {
        <p class="text-red-500 text-xs">
          {{ form.get('bankPassword')?.errors?.['backend'] }}
        </p>
      }
    </label>

    <label class="text-base">
      Новый пароль
      <tui-textfield>
        <input tuiTextfield type="password" formControlName="newPassword" />
        <tui-icon tuiPassword />
      </tui-textfield>
      @if (form.get('newPassword')?.hasError('required') && form.get('phone')?.touched) {
        <p class="text-red-500 text-xs">Обязательное поле</p>
      }

      @if (form.get('newPassword')?.errors?.['minlength']) {
        <p class="text-red-500">Минимум 8 символов</p>
      }

      @if (form.get('newPassword')?.errors?.['backend']) {
        <p class="text-red-500">
          {{ form.get('newPassword')?.errors?.['backend'] }}
        </p>
      }
    </label>

    @if (authStore.error()) {
      <p class="text-red-500">
        {{ authStore.error() }}
      </p>
    }

    <button tuiButton type="button" (click)="submit()" [disabled]="authStore.isLoading()">
      Зарегистрироваться
    </button>
  </form>

  <p>
    Уже есть аккаунт?
    <a routerLink="/login" class="underline"> Войти </a>
  </p>
</div>
