<div class="px-7 py-3 rounded-(--tui-radius-l) shadow-(--tui-shadow-m) bg-(--card-4)">
  @if (!loading()) {
    @if (summary(); as expense) {
      <app-summary-card
        title="Траты"
        [amount]="expense.amount"
        [differenceFromPreviousPeriod]="expense.differenceFromPreviousPeriod"
        [percentChange]="expense.percentChange"
        [transactionCount]="expense.transactionCount"
        [categoryCount]="expense.categoryCount"
      />
    } @else {
      <p class="text-(--text-faded)">Нет данных для отображения</p>
    }
  } @else {
    <app-summary-card-skeleton />
  }
</div>
