@switch (variant) {
  @case ('month') {
    <div
      class="w-full flex flex-col gap-1 h-full p-1 rounded-md text-xs lg:text-sm overflow-hidden"
      [ngClass]="
        isIncome
          ? 'bg-(--income-background) text-(--income-dark)'
          : 'bg-(--expense-background) text-(--expense-dark)'
      "
    >
      <p class="shrink-0 font-medium">
        {{ isIncome ? '+' : '-' }}
        {{ amountLabel }}
      </p>

      <p class="truncate min-w-0">
        {{ title }}
      </p>
    </div>
  }

  @case ('week') {
    <div
      class="lg:min-h-16 p-2 rounded-xs lg:rounded-md text-xs lg:text-sm flex flex-col gap-1 overflow-hidden"
      [ngClass]="
        isIncome
          ? 'bg-(--income-background) text-(--income-dark)'
          : 'bg-(--expense-background) text-(--expense-dark)'
      "
    >
      <div class="flex items-start justify-between gap-2">
        <p class="font-semibold shrink-0">
          {{ isIncome ? '+' : '-' }}
          {{ amountLabel }}
        </p>

        <p class="shrink-0 text-[10px] lg:text-xs opacity-80">
          {{ timeLabel }}
        </p>
      </div>

      <p class="font-medium truncate">
        {{ title }}
      </p>

      <p class="truncate opacity-80">
        {{ categoryLabel }}
      </p>

      <p class="line-clamp-2 opacity-80">
        {{ descriptionLabel }}
      </p>
    </div>
  }

  @case ('day') {
    <div
      class="min-h-16 p-3 rounded-lg text-xs md:text-base flex items-center justify-between gap-3"
      [ngClass]="
        isIncome
          ? 'bg-(--income-background) text-(--income-dark)'
          : 'bg-(--expense-background) text-(--expense-dark)'
      "
    >
      <div class="min-w-0 flex flex-col gap-1">
        <div class="flex items-center gap-2 min-w-0">
          <p class="font-semibold shrink-0">
            {{ isIncome ? '+' : '-' }}
            {{ amountLabel }}
          </p>

          <p class="truncate font-medium">
            {{ title }}
          </p>
        </div>

        <p class="truncate text-xs md:text-sm opacity-80">
          {{ detailsLabel }}
        </p>

        <p class="truncate text-xs md:text-sm opacity-80">
          {{ descriptionLabel }}
        </p>
      </div>

      <p class="shrink-0 text-xs md:text-sm opacity-80">
        {{ timeLabel }}
      </p>
    </div>
  }

  @case ('goal') {
    <div
      class="w-full min-h-7.5 p-2 rounded-lg text-xs md:text-base flex items-center justify-between gap-3 break-all"
      [ngClass]="
        isIncome
          ? 'bg-(--expense-background) text-(--expense-dark)'
          : 'bg-(--income-background) text-(--income-dark)'
      "
    >
      <p class="shrink-0">
        {{ isIncome ? '-' : '+' }} {{ amountLabel}}
      </p>

      <p class="hidden md:block">
        {{ dateLabel }}
      </p>

      <p>
        {{ timeLabel }}
      </p>
    </div>
  }
}