<div class="flex flex-wrap gap-3 w-full">
  <tui-textfield class="w-35" tuiChevron  [tuiTextfieldCleaner]="false" [stringify]="stringifyMonth">
    <input  tuiSelect [ngModel]="currentMonth()" (ngModelChange)="goToMonth($event)" />
    <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="months" />
  </tui-textfield>

  <tui-textfield tuiChevron class="w-25" [tuiTextfieldCleaner]="false" [stringify]="stringifyYear">
    <input tuiSelect [ngModel]="currentYear()" (ngModelChange)="goToYear($event)" />
    <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="years()" />
  </tui-textfield>

  <div class="flex gap-1.5 items-center">
    <button 
    tuiButton 
    class="w-20"
    type="button" 
    class="btn-auto"
    (click)="navigatePrev()"><tui-icon icon="@tui.arrow-left"></tui-icon></button>
    <button tuiButton type="button" (click)="goToday()">Сегодня</button>
    <button 
    tuiButton 
    type="button" 
    class="btn-auto"
    (click)="navigateNext()"><tui-icon icon="@tui.arrow-right"></tui-icon></button>
  </div>

  @if (view() === 'week') {
    <tui-textfield tuiChevron class="w-49" [tuiTextfieldCleaner]="false" [stringify]="stringifyWeek">
      <input tuiSelect [ngModel]="currentWeek()" (ngModelChange)="goToWeek($event.start.toISOString())" />
      <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="weeks()" />
    </tui-textfield>
  }
</div>

