<aside class="h-full p-5 rounded-(--tui-radius-l) shadow-(--tui-shadow-s) bg-(--card-4)">
  <button tuiButton type="button" class="w-full text-base" (click)="openModal()">
    Создать цель
  </button>
  <h2 class="mt-5 mb-2 text-base">Ваши цели</h2>
  <ul class="flex flex-col gap-4">
    @for (item of goals(); track item.id) {
      <li>
        <button
          type="button"
          class="w-full h-8 pl-3 text-base flex items-center rounded-(--tui-radius-m) cursor-pointer duration-300 hover:scale-[1.02]"
          [ngClass]="
            item.id === selectedGoal()?.id
              ? 'text-(--background) bg-(--foreground)'
              : 'bg-(--background) shadow-(--tui-shadow-m) hover:bg-(--background-hover) focus:bg-(--foreground-hover)'
          "
          (click)="selectGoal(item.id)"
        >
          {{ item.name }}
        </button>
      </li>
    }
  </ul>
</aside>
@if (isCreateModalOpen()) {
  <div
    class="fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50 p-4"
  >
    <div
      class="z-51 w-90 md:w-120.75 max-h-[90vh] py-2.75 px-7.75 bg-(--background) relative rounded-(--tui-radius-l) overflow-hidden flex flex-col"
    >
      <div class="flex justify-between">
        <h1 class="text-2xl">Создать новую цель</h1>
        <button class="text-base cursor-pointer" (click)="closeModal()">✖</button>
      </div>
      <app-create-goal-form (close)="closeModal()"></app-create-goal-form>
    </div>
  </div>
}
