<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-5">
  <label class="flex gap-2 items-center text-base">
    <input tuiSwitch type="checkbox" formControlName="isActive" />
    Автоплатёж
    @if (form.get('autoPay')?.errors?.['backend']) {
      <p class="text-red-500">
        {{ form.get('autoPay')?.errors?.['backend'] }}
      </p>
    }
  </label>

  <div class="flex flex-col gap-2">
    <label class="text-base">
      Account ID
      <tui-textfield>
        <input
          tuiTextfield
          type="text"
          placeholder="Введите ID"
          formControlName="autoPayAccountId"
        />
      </tui-textfield>
      @if (form.get('autoPayAccountId')?.errors?.['backend']) {
        <p class="text-red-500">
          {{ form.get('autoPayAccountId')?.errors?.['backend'] }}
        </p>
      }
    </label>
    <label tuiLabel>
      <label class="text-base">Выберите промежуток времени</label>
      <tui-textfield tuiChevron [tuiTextfieldCleaner]="false">
        <input tuiSelect formControlName="billingCycle" />
        <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="billingCycles" />
      </tui-textfield>
      @if (form.get('billingCycle')?.errors?.['backend']) {
        <p class="text-red-500">
          {{ form.get('billingCycle')?.errors?.['backend'] }}
        </p>
      }
    </label>
    <label class="text-base">
      Интервал
      <tui-textfield>
        <input
          tuiTextfield
          type="number"
          placeholder="Например: 1"
          formControlName="billingInterval"
        />
      </tui-textfield>
      @if (labelInterval()) {
        <p class="text-sm text-(--text-faded)">
          {{ labelInterval() }}
        </p>
      }
      @if (form.get('billingInterval')?.errors?.['backend']) {
        <p class="text-red-500">
          {{ form.get('billingInterval')?.errors?.['backend'] }}
        </p>
      }
    </label>
    <label class="text-base">
      Сумма автоплатежа
      <tui-textfield>
        <input tuiTextfield type="number" placeholder="Сумма" formControlName="amount" />
      </tui-textfield>
      @if (form.get('amount')?.errors?.['backend']) {
        <p class="text-red-500">
          {{ form.get('amount')?.errors?.['backend'] }}
        </p>
      }
    </label>
  </div>
  @if (formError()) {
    <p class="text-red-500">
      {{ formError() }}
    </p>
  }
  <div class="flex justify-center gap-10">
    <button tuiButton type="button" (click)="close.emit()">Отмена</button>
    <button tuiButton type="submit" [disabled]="form.invalid">Сохранить</button>
  </div>
</form>
