<div
  class="fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50 p-4"
  (click)="onBackdropClick()">
  <div
    [class]="'z-51 max-h-[90vh] py-3 px-6 bg-(--background) relative rounded-(--tui-radius-l) overflow-hidden flex flex-col ' + widthClass"
    (click)="$event.stopPropagation()">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-xl">{{ title }}</h1>
      <button class="text-base cursor-pointer" (click)="close.emit()">✖</button>
    </div>
    <ng-content></ng-content>
  </div>
</div>
