<h2 class="text-3xl mb-3">{{ title }}</h2>
<div class="w-full h-157 px-7.5 py-5 flex flex-col gap-2.5 bg-(--card-2) rounded-(--tui-radius-l)">
  <div class="flex gap-2.5">
    <div
      class="h-17 flex flex-col flex-1 items-center justify-center bg-(--card) rounded-(--tui-radius-l) shadow-(--tui-shadow-m)"
    >
      <p class="text-2xl">Месячный итог</p>
      <p class="text-2xl">₽ {{ monthlyTotal() }}</p>
    </div>
    <div
      class="h-17 flex flex-col flex-1 items-center justify-center bg-(--card) rounded-(--tui-radius-l) shadow-(--tui-shadow-m)"
    >
      <p class="text-2xl">Годовой итог</p>
      <p class="text-2xl">₽ {{ yearlyTotal() }}</p>
    </div>
    <div
      class="h-17 flex flex-col flex-1 items-center justify-center bg-(--card) rounded-(--tui-radius-l) shadow-(--tui-shadow-m)"
    >
      <p class="text-2xl">Активные</p>
      <p class="text-2xl">{{ activeCount() }}</p>
    </div>
    <div
      class="h-17 flex flex-col flex-1 items-center justify-center bg-(--card) rounded-(--tui-radius-l) shadow-(--tui-shadow-m)"
    >
      <p class="text-2xl">Скоро списания</p>
      <p class="text-2xl">{{ upcomingCount() }}</p>
    </div>
  </div>
  <div class="flex gap-2.5">
    <search tuiSearch class="w-60">
      <tui-textfield>
        <label tuiLabel>Поиск</label>
        <input tuiTextfield [formControl]="searchControl" />
      </tui-textfield>
    </search>
    @if (categories) {
      <label tuiLabel class="min-w-48">
        <tui-textfield tuiChevron [tuiTextfieldCleaner]="false" [stringify]="stringifyCategory">
          <input
            tuiSelect
            [ngModel]="categoryControl.value"
            (ngModelChange)="categoryControl.setValue($event)"
          />
          <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="categoryOptions()" />
        </tui-textfield>
      </label>
    }
    <label tuiLabel class="min-w-70">
      <tui-textfield tuiChevron [tuiTextfieldCleaner]="false" [stringify]="stringifySort">
        <input
          tuiSelect
          [ngModel]="sortControl.value"
          (ngModelChange)="sortControl.setValue($event)"
        />
        <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="sortOptions()" />
      </tui-textfield>
    </label>
  </div>

  @switch (listType) {
    @case ('subscription') {
      <div class="grid grid-cols-[160px_104px_160px_1fr] gap-4 text-sm text-(--text-faded)">
        <span>Название</span>
        <span>Дата списания</span>
        <span>Категория</span>
        <span>Сумма</span>
      </div>
      <div class="overflow-x-auto -mx-7.5 px-7.5 pb-2">
        <div class="flex flex-col gap-3">
          @for (item of items(); track item.id) {
            <div class="grid grid-cols-[160px_104px_160px_1fr] gap-4 items-center">
              <div class="flex gap-3 items-center">
                <img
                  [src]="item.logoUrl"
                  alt="logo"
                  class="w-11.25 h-11.25 object-cover object-center rounded-lg"
                />
                <span class="text-base">{{ item.title }}</span>
              </div>

              <span class="text-base">{{ formatDate(item.nextBillingDate) }}</span>

              <span class="text-base">{{ item.categoryName }}</span>

              <span class="text-base"> {{ item.amount }} ₽ </span>
            </div>
          }
        </div>
      </div>
    }
    @case ('payment') {
      <div class="grid grid-cols-[160px_104px_160px_1fr] gap-4 text-sm text-(--text-faded)">
        <span>Название</span>
        <span>Оплатить до</span>
        <span>Переодичность</span>
        <span>Сумма</span>
      </div>
      <div class="overflow-x-auto -mx-7.5 px-7.5 pb-2">
        <div class="flex flex-col gap-3">
          @for (item of items(); track item.id) {
            <div class="grid grid-cols-[160px_104px_160px_1fr] gap-4 items-center">
              <div class="flex gap-3 items-center">
                <img
                  [src]="item.logoUrl"
                  alt="logo"
                  class="w-11.25 h-11.25 object-cover object-center rounded-lg"
                />
                <span class="text-base">{{ item.title }}</span>
              </div>

              <span class="text-base">{{ formatDate(item.nextBillingDate) }}</span>

              <span class="text-base">{{
                getPeriodLabel(item.billingCycle, item.billingInterval)
              }}</span>

              <span class="text-base"> {{ item.amount }} ₽ </span>
            </div>
          }
        </div>
      </div>
    }
  }
</div>
