<div>
  <div class="grid grid-cols-7 mt-3 sticky top-18 z-10">
    @for (dayLabel of orderedLabels(); track dayLabel; let index = $index) {
      <div class="flex justify-center">
        <div 
          class=" w-14 lg:w-35 rounded-xl text-center text-xs sm:text-base py-2 bg-(--card-2)"
        >
          <span class="hidden lg:inline">{{ dayLabel }}</span>
          <span class="lg:hidden">{{ orderedShortLabels()[index] }}</span>
        </div>
      </div>
    }
  </div>
  
  <div class="mt-2 flex flex-col gap-px sm:gap-1 lg:gap-1">
    @for (week of weeks(); track $index) {
      <div class="grid grid-cols-7 gap-px sm:gap-1 lg:gap-1">
        @for (day of week; track day.toISOString()) {
          <app-day-cell
            [date]="day"
            [isCurrentMonth]="isCurrentMonth(day)"
            [transactions]="getTransactionsForDay(day)"
            class=""
          />
        }
      </div>
    }
  </div>
</div>