<div>
  <!-- Заголовки дней -->
  <div class="grid grid-cols-7 mt-3 sticky top-18 z-10">
    @for (label of viewData().dayLabels; track label; let i = $index) {
    <div class="flex justify-center">
      <div class="w-14 lg:w-35 rounded-xl text-center text-xs sm:text-base py-2 bg-(--card-2)">
        <span class="hidden lg:inline">{{ label }}</span>
        <span class="lg:hidden">{{ viewData().shortDayLabels[i] }}</span>
      </div>
    </div>
    }
  </div>

  <!-- Сетка недель -->
  <div class="mt-2 flex flex-col gap-px sm:gap-1 lg:gap-1">
    @for (week of viewData().rows; track $index) {
    <div class="grid grid-cols-7 gap-px sm:gap-1 lg:gap-1">
      @for (day of week; track day.date.toISOString()) {
      <app-day-cell
        [date]="day.date"
        [isCurrentMonth]="day.isCurrentMonth"
        [transactions]="day.transactions"
      />
      }
    </div>
    }
  </div>
</div>
